@import url('https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@400;700&display=swap');

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    background: linear-gradient(hsl(273, 75%, 66%),hsl(240, 73%, 65%));
    font-size: 12px;
    font-family: 'Kumbh Sans', sans-serif;
    display:grid;
    justify-content: center;
    align-content: center;
    height: 100vh;
}

main {
    background: white;
    border-radius: 25px;
    box-shadow: 9px 20px 20px 0px grey;
    height: 80vh;
    width: 80vw;
    min-height: 500px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    position: relative;
}

.row {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
}

.overflow {
    overflow: hidden;
}

.imageWoman {
    margin-left: -50px;
}

.imageBox {
    position: absolute;
}

.question {
    user-select: none;
    cursor: pointer;
}

.answer {
    display: none;
}




