body {
    background: linear-gradient(hsl(273, 75%, 66%), hsl(14, 88%, 65%));
    font-size: 12px;
}

.container {
    background: white;
    border-radius: 25px;
    box-shadow: 9px 20px 20px 0px grey;
    margin: 7% 20% 7% 20%;
    padding-top: 100px;
    height: 430px;
    overflow: auto;
}

.row {
    float: left;
    width: 50%;
}

.overflow {
    overflow: hidden;
}

.imageWoman {
    margin-left: -50px;

}

.imageBox {
    position: absolute;
}

.question {
    user-select: none;
    cursor: pointer;
}

.answer {
    display: none;
}


